boto==2.49.0
colorama==0.4.4
colorlog==4.4.0
dj-database-url==0.5.0
Django==2.2.4
django-auth-ldap==2.0.0
django-currentuser==0.4.2
django-filter==2.2.0
django-heroku==0.3.1
django-markwhat==1.6.2
django-reverse-admin==2.3.0
django-taggit==1.1.0
djangorestframework==3.10.3
gunicorn==19.9.0
keyring==5.7.1
Markdown==3.1.1
markdown2==2.3.9
Pillow==6.1.0
psycopg2==2.8.3
pyasn1==0.4.7
pyasn1-modules==0.2.6
python-decouple==3.3
python-ldap==3.2.0
pytz==2019.2
six==1.15.0
sqlparse==0.3.0
tornado==6.0.4
whitenoise==4.1.3
